
@{
    ViewBag.Title = "TeacherHome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        .div2 {
            margin-top: 50px;
            margin-left: 25%;
        }
        input{
            margin-top: 10px;
        }
    </style>
</head>
<br />
<b>Teacher ID : </b>&emsp;@Session["ID"] &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<b>Teacher Name : </b>&emsp;@Session["Name"] &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
<b>Teacher Email : </b>&emsp;@Session["Email"]
<br />
<br />
<div class="row text-center div2">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="m-5">
                    <img src="~/Images/essay.png" alt="Profile" width="100px" height="100px" />
                </div>
                <input class="btn btn-primary" type="button" value="Add Activity" onclick="location.href='@Url.Action("ActivityEntry", "Activity")'" />
                @*<a class="btn btn-primary" onclick="location.href='<%: Url.Action(" Autoentry", "Autos" ) %>'">Add Autos</a>*@
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="m-5">
                    <img src="~/images/documents.png" alt="Profile" width="100px" height="100px" />
                </div>
                <input class="btn btn-primary" type="button" value="View Activity" onclick="location.href='@Url.Action("ActivityData", "Activity")'" />
            </div>
        </div>
    </div>
</div>

<div class="row text-center div2">
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="m-5">
                    <img src="~/Images/essay.png" alt="Profile" width="100px" height="100px" />
                </div>
                <input class="btn btn-primary" type="button" value="Add Course" onclick="location.href='@Url.Action("CourseEntry", "Course")'" />
                @*<a class="btn btn-primary" onclick="location.href='<%: Url.Action(" Autoentry", "Autos" ) %>'">Add Autos</a>*@
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <div class="m-5">
                    <img src="~/images/documents.png" alt="Profile" width="100px" height="100px" />
                </div>
                <input class="btn btn-primary" type="button" value="View Courses" onclick="location.href='@Url.Action("ViewCourses", "Course")'" />
            </div>
        </div>
    </div>
</div>

